{% extends "layout.html" %}
{% block title %}Upload{% endblock %}
{% block content %}
    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="bg-faded rounded p-3">
                        <h2 class="section-heading">
                            <span class="section-heading-lower">Rejestracja</span>

                        </h2>
                        <form method="POST" action="/register" enctype="multipart/form-data">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <div class="form-group">
                                Podaj login:
                                <input type="text" name="login" class="form-control-plaintext" required>
                                Podaj email:
                                <input type="text" name="mail" class="form-control-plaintext" required>
                                Podaj pytanie pomocnicze:
                                <input type="text" name="question" class="form-control-plaintext" required>
                                Podaj odpowiedź na pytanie:
                                <input type="password" name="answer" class="form-control-plaintext" required>

                                <input type="submit" class="btn btn-primary form_button_big" name="send" value="Wyślij">
                            </div>
                        </form>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
    </section>
{% endblock %}